In [74]:
import unicodecsv


def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

enrollments = read_csv('C:\Users\RAMCHAND_N\OneDrive - Airbus\CDF work - NEW\Jupyter Workspaces\Data Analysis Nanodegree\Data Analysis Process\enrollments.csv')
project_submissions = read_csv('C:\Users\RAMCHAND_N\OneDrive - Airbus\CDF work - NEW\Jupyter Workspaces\Data Analysis Nanodegree\Data Analysis Process\project_submissions.csv')
daily_engagement = read_csv('C:\Users\RAMCHAND_N\OneDrive - Airbus\CDF work - NEW\Jupyter Workspaces\Data Analysis Nanodegree\Data Analysis Process\daily_engagement.csv')
    
print 'enrollments=' ,enrollments[0]
print 'daily_engagement=' ,daily_engagement[0]
print 'project_submissions=' ,project_submissions[0]

enrollments= {u'status': u'canceled', u'is_udacity': u'True', u'is_canceled': u'True', u'join_date': u'2014-11-10', u'account_key': u'448', u'cancel_date': u'2015-01-14', u'days_to_cancel': u'65'}
daily_engagement= {u'lessons_completed': u'0.0', u'num_courses_visited': u'1.0', u'total_minutes_visited': u'11.6793745', u'projects_completed': u'0.0', u'acct': u'0', u'utc_date': u'2015-01-09'}
project_submissions= {u'lesson_key': u'3176718735', u'processing_state': u'EVALUATED', u'account_key': u'256', u'assigned_rating': u'UNGRADED', u'completion_date': u'2015-01-16', u'creation_date': u'2015-01-14'}

In [4]:
   
with open(daily_engagement, 'rb') as d_e_file:
    reader = unicodecsv.reader(d_e_file)
    print row1[0]

TypeError: coercing to Unicode: need string or buffer, list found

In [5]:
with open(daily_engagement, 'rb') as d_e_file:
    reader = unicodecsv.DictReader(d_e_file)
    for row in range(2):
        print reader.next()
project_submissions = None  # Replace this with your code

TypeError: coercing to Unicode: need string or buffer, list found

In [75]:
from datetime import datetime as dt

# Takes a date as a string, and returns a Python datetime object. 
# If there is no date given, returns None
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
# Takes a string which is either an empty string or represents an integer,
# and returns an int or None.
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the enrollments table
for enrollment in enrollments:
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_maybe_int(enrollment['days_to_cancel'])
    enrollment['is_canceled'] = enrollment['is_canceled'] == 'True'
    enrollment['is_udacity'] = enrollment['is_udacity'] == 'True'
    enrollment['join_date'] = parse_date(enrollment['join_date'])
#    enrollment['account_key'] = parse_maybe_int(enrollment['account_key'])

In [18]:
list(set([x[0] for x in enrollments.values()]))

AttributeError: 'list' object has no attribute 'values'

In [24]:
row_count_e = sum(1 for row in enrollments)
print row_count_e

1640

In [6]:
row_count_d = sum(1 for row in daily_engagement)
print row_count_d

136240

In [ ]:
row_count_p = sum(1 for row in project_submissions)
print row_count_p

In [11]:
import pandas as pd

pandas_enrollments= pd.DataFrame(data=enrollments)

In [12]:
pandas_enrollments

,account_key,cancel_date,days_to_cancel,is_canceled,is_udacity,join_date,status
0,448,2015-01-14,65.0,True,True,2014-11-10,canceled
1,448,2014-11-10,5.0,True,True,2014-11-05,canceled
2,448,2015-01-27,0.0,True,True,2015-01-27,canceled
3,448,2014-11-10,0.0,True,True,2014-11-10,canceled
4,448,NaT,NaN,False,True,2015-03-10,current
5,448,2015-01-27,13.0,True,True,2015-01-14,canceled
6,448,2015-03-10,42.0,True,True,2015-01-27,canceled
7,448,2015-01-27,0.0,True,True,2015-01-27,canceled
8,448,2015-01-27,0.0,True,True,2015-01-27,canceled
9,700,2014-11-16,6.0,True,False,2014-11-10,canceled
10,429,2015-03-10,120.0,True,False,2014-11-10,canceled
11,429,2015-06-17,99.0,True,False,2015-03-10,canceled
12,60,2015-01-14,65.0,True,False,2014-11-10,canceled
13,60,2015-04-01,77.0,True,False,2015-01-14,canceled
14,60,NaT,NaN,False,False,2015-04-01,current
15,1300,2014-11-16,6.0,True,False,2014-11-10,canceled
16,369,NaT,NaN,False,False,2014-11-10,current
17,322,2015-02-02,84.0,True,False,2014-11-10,canceled
18,322,2015-02-12,0.0,True,False,2015-02-12,canceled
19,322,2015-03-10,26.0,True,False,2015-02-12,canceled
20,322,NaT,NaN,False,False,2015-03-10,current
21,336,NaT,NaN,False,False,2014-11-10,current
22,553,NaT,NaN,False,False,2014-11-10,current
23,584,2015-01-14,65.0,True,False,2014-11-10,canceled
24,584,2015-03-10,55.0,True,False,2015-01-14,canceled
25,584,NaT,NaN,False,False,2015-03-10,current
26,1006,2014-11-17,7.0,True,False,2014-11-10,canceled
27,458,2015-04-01,142.0,True,False,2014-11-10,canceled
28,458,2015-04-06,2.0,True,False,2015-04-04,canceled
29,458,NaT,NaN,False,False,2015-04-06,current
...,...,...,...,...,...,...,...
1610,414,NaT,NaN,False,False,2015-06-07,current
1611,226,NaT,NaN,False,False,2015-06-08,current
1612,2,NaT,NaN,False,False,2015-06-08,current
1613,1241,2015-06-09,0.0,True,False,2015-06-09,canceled
1614,1187,2015-06-15,6.0,True,False,2015-06-09,canceled
1615,1274,NaT,NaN,False,False,2015-07-08,current
1616,218,NaT,NaN,False,False,2015-07-08,current
1617,324,NaT,NaN,False,False,2015-07-09,current
1618,891,2015-07-15,6.0,True,False,2015-07-09,canceled
1619,1000,NaT,NaN,False,False,2015-07-11,current
1620,973,NaT,NaN,False,False,2015-07-13,current
1621,806,NaT,NaN,False,False,2015-07-15,current
1622,1178,2015-08-07,22.0,True,False,2015-07-16,canceled
1623,832,NaT,NaN,False,False,2015-07-16,current
1624,1232,2015-07-17,1.0,True,False,2015-07-16,canceled
1625,1057,2015-07-21,4.0,True,False,2015-07-17,canceled
1626,689,NaT,NaN,False,False,2015-07-17,current
1627,1278,NaT,NaN,False,False,2015-07-17,current
1628,1272,2015-07-23,6.0,True,False,2015-07-17,canceled
1629,438,NaT,NaN,False,False,2015-07-17,current
1630,992,NaT,NaN,False,False,2015-07-17,current
1631,575,NaT,NaN,False,False,2015-07-17,current
1632,807,2015-07-22,2.0,True,False,2015-07-20,canceled
1633,1298,NaT,NaN,False,False,2015-08-11,current
1634,751,NaT,NaN,False,False,2015-08-11,current
1635,1176,NaT,NaN,False,False,2015-08-12,current
1636,1110,NaT,NaN,False,False,2015-08-13,current
1637,1116,2015-08-18,3.0,True,False,2015-08-15,canceled
1638,874,NaT,NaN,False,False,2015-08-22,current
1639,686,NaT,NaN,False,False,2015-08-23,current

In [16]:
pandas_enrollments['account_key'].nunique()

1302

In [76]:
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 u'days_to_cancel': 65,
 u'is_canceled': True,
 u'is_udacity': True,
 u'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 u'status': u'canceled'}

In [11]:
len(unique_project_submitters)

743

In [77]:
for engagement_record in daily_engagement:
    engagement_record['account_key'] = engagement_record['acct']
    del engagement_record['acct']

In [78]:
enrollments[0:2]

[{u'account_key': u'448',
  u'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
  u'days_to_cancel': 65,
  u'is_canceled': True,
  u'is_udacity': True,
  u'join_date': datetime.datetime(2014, 11, 10, 0, 0),
  u'status': u'canceled'},
 {u'account_key': u'448',
  u'cancel_date': datetime.datetime(2014, 11, 10, 0, 0),
  u'days_to_cancel': 5,
  u'is_canceled': True,
  u'is_udacity': True,
  u'join_date': datetime.datetime(2014, 11, 5, 0, 0),
  u'status': u'canceled'}]

In [79]:
def get_unique_students(data):
    unique_students = set()
    for data_point in data:
        unique_students.add(data_point['account_key'])
    return unique_students

In [80]:
unique_engagement_students = get_unique_students(daily_engagement)


daily_engagement[0]['account_key']

u'0'

In [81]:

unique_enrolled_students = get_unique_students(enrollments)




unique_project_submitters = get_unique_students(project_submissions)

In [82]:
unique_engagement_students[2]

TypeError: 'set' object does not support indexing

In [85]:

#for enrollment in enrollments:
#    enrollment['account_key'] = parse_maybe_int(enrollment['account_key'])

missing_de = unique_enrolled_students.difference(unique_engagement_students)

print missing_de
print len(missing_de)

set([u'1304', u'1129', u'1186', u'875', u'1222', u'1213', u'1120', u'749', u'1148', u'707', u'766', u'1125', u'1237', u'870', u'878', u'819', u'1191', u'1190', u'1145', u'733', u'799', u'871', u'717', u'654', u'727', u'737', u'739', u'914', u'1219', u'1291', u'1010', u'889', u'817', u'1025', u'997', u'996', u'981', u'1171', u'1270', u'1218', u'1273', u'1238', u'902', u'711', u'750', u'664', u'1069', u'1284', u'841', u'1044', u'1086', u'1155', u'1079', u'968', u'789', u'1241', u'964', u'725', u'884', u'728', u'1101', u'803', u'802', u'1063', u'926'])
65

In [30]:
daily_engagement[0]

{'account_key': u'0',
 u'lessons_completed': u'0.0',
 u'num_courses_visited': u'1.0',
 u'projects_completed': u'0.0',
 u'total_minutes_visited': u'11.6793745',
 u'utc_date': u'2015-01-09'}

In [92]:
test = enrollments[2]

In [94]:
test['account_key']

u'448'

In [104]:
'1219' in missing_de

True

In [117]:
for enrollment in enrollments:
    student = enrollment['account_key']
    zero_days_enrollment = enrollment['days_to_cancel']
    if student not in unique_engagement_students and zero_days_enrollment !=0:
        print enrollment

{u'status': u'canceled', u'is_udacity': True, u'is_canceled': True, u'join_date': datetime.datetime(2015, 1, 10, 0, 0), u'account_key': u'1304', u'cancel_date': datetime.datetime(2015, 3, 10, 0, 0), u'days_to_cancel': 59}
{u'status': u'canceled', u'is_udacity': True, u'is_canceled': True, u'join_date': datetime.datetime(2015, 3, 10, 0, 0), u'account_key': u'1304', u'cancel_date': datetime.datetime(2015, 6, 17, 0, 0), u'days_to_cancel': 99}
{u'status': u'current', u'is_udacity': True, u'is_canceled': False, u'join_date': datetime.datetime(2015, 2, 25, 0, 0), u'account_key': u'1101', u'cancel_date': None, u'days_to_cancel': None}

In [125]:
for enrollment in enrollments:
    if enrollment['account_key'] == '1101' or enrollment['account_key'] == '1304':
        print enrollment

{u'status': u'canceled', u'is_udacity': True, u'is_canceled': True, u'join_date': datetime.datetime(2015, 1, 10, 0, 0), u'account_key': u'1304', u'cancel_date': datetime.datetime(2015, 3, 10, 0, 0), u'days_to_cancel': 59}
{u'status': u'canceled', u'is_udacity': True, u'is_canceled': True, u'join_date': datetime.datetime(2015, 3, 10, 0, 0), u'account_key': u'1304', u'cancel_date': datetime.datetime(2015, 6, 17, 0, 0), u'days_to_cancel': 99}
{u'status': u'current', u'is_udacity': True, u'is_canceled': False, u'join_date': datetime.datetime(2015, 2, 25, 0, 0), u'account_key': u'1101', u'cancel_date': None, u'days_to_cancel': None}

In [133]:
paid_students = {}
for enrollment in enrollments:
    if enrollment['days_to_cancel'] is None or enrollment['days_to_cancel']>7:
        paid_students[enrollment['account_key']] = enrollment['join_date']
print len(paid_students)

999

In [130]:
enrollments[0:2]

[{u'account_key': u'448',
  u'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
  u'days_to_cancel': 65,
  u'is_canceled': True,
  u'is_udacity': True,
  u'join_date': datetime.datetime(2014, 11, 10, 0, 0),
  u'status': u'canceled'},
 {u'account_key': u'448',
  u'cancel_date': datetime.datetime(2014, 11, 10, 0, 0),
  u'days_to_cancel': 5,
  u'is_canceled': True,
  u'is_udacity': True,
  u'join_date': datetime.datetime(2014, 11, 5, 0, 0),
  u'status': u'canceled'}]